:root{
    --main-color: hsl(31 12% 9% / 1);
    --second-color: hsl(31 12% 88% / 1);
    --third-color: hsl(33.44deg 85.92% 86.08%);

    --search-color: hsl(190, 90%, 12%);
    --search-color-unsat: hsl(190, 70%, 12%);
    /*--search-color-unsat: hsl(183.1deg 83.55% 25.69%);*/
    /*--search-color-unsat: hsl(354 28% 19% / 1);*/
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --pico-background-color: hsl(31 12% 9% / 1);

    --pico-form-element-background-color: var(--search-color-unsat);
    --pico-form-element-active-background-color: var(--search-color);
    --pico-border-color: var(--search-color-unsat);
    --pico-form-element-active-border-color: var(--search-color-unsat);
}

input[type="search"]{
    width:85%;
    height:40pt;
}

html{
    font-family: Lato, "Roboto Light", serif;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color);
    color: var(--second-color);
}

html body header, html body main, html body footer{
    padding:5pt 2.5pt;
}

div.flexAlign{
    display: flex;
    align-items: center;
    gap:5pt
}



span.flexAlign{
    display: inline-flex;
    align-items: center;
}

.flexCenter{
    display: flex;
    justify-content: center;
}

.flexCenter.column{
    flex-direction: column;
    gap:5pt
}

.alignLeft{
    text-align: left;
}

.alignRight{
    text-align: right;
}

.alignCenter{
    text-align:center;
}

button.small{
    padding: 2.5pt 7.5pt;
    font-size: 0.9em;
}

table{
    font-size: 12pt;
}

tr.headerRow th{
    background-color: var(--search-color);
}

tbody td{
    border-color: var(--search-color-unsat);
}

thead td, thead th{
    border: none;
}