<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"></head>
<body>

<nav th:replace="~{fragments/nav :: nav}"></nav>

<main class="container">
    <div th:if="${radioStations.size() == 0}" class="flexAlign flexCenter column">
        <h1>No Stations Found</h1>
        <div>
            <form action="/startCreateStation" method="POST">
                <button type="submit">Create New</button>
            </form>
        </div>
    </div>


    <div th:if="${radioStations.size() > 0}" class="flexCenter column">
        <div class="flexCenter">
            Select a song below to seed your Radio Station
        </div>

        <div style="display: flex;align-items: center;justify-content: center">
            <input  type="search" name="search" onchange="search(this.value)" aria-label="search" placeholder="Search">
        </div>

        <div id="searchResults" class="container">

        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>