<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div id="main" class="flexCenter" style="align-items: center">
    <div style="width: 245pt;height: 315pt;border: 4pt solid hsl(34 85% 86% / 1);border-radius: 5pt;position: relative;background-color: #fadfbd;">
        <div style="position: absolute;border-radius: 46pt;border: 2pt solid #221f1b;background: #221f1b;padding: 5pt;top: -40px;right: 125px;border: 4pt solid #fadfbd;">
            <img src="/icons/music-beat.svg" width="56" alt="">
        </div>


        <div style="height: 85%;display: flex;flex-direction: column;align-items: center;justify-content: space-around;text-align:center;color:hsl(31 12% 12% / 1)">
            <div>
                <h1 style="font-size: 36pt">Tuvlire</h1>
                <p style="font-weight: bold;font-size: 13pt">Spotify Recommendation Tool</p>
            </div>

            <button id="loginButton" onclick="window.location.href='/search'">
                Login
            </button>
        </div>
    </div>
</div>

</body>
</html>