<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<div id="main" class="flexCenter flexAlign">
    <div id="landingPageCard">
        <div id="landingPageLogo">
            <img src="/icons/music-beat.svg" width="56" alt="">
        </div>

        <div class="container">
            <div>
                <h1>Tuvlire</h1>
                <h4>Spotify Recommendation Tool</h4>
            </div>

            <button id="loginButton" onclick="window.location.href='/login'">
                Login
            </button>
        </div>
    </div>
</div>

</body>
</html>