<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
<head th:include="fragments/header :: header"></head>


<body>
<nav th:replace="fragments/nav :: nav"></nav>

<main class="">
    <div class="">
        <div class="flexCenter">
            Your Radio Station
        </div>

        <div>
            <div id="carousel" >
                <!--            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0j8Nj2HX6F8ZLjyY9FD33j?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>-->
                <div class="item"><div style="border-radius: 12pt" th:id="${trackid}" class="embed-iframe"></div></div>

                <div th:each="track, iStat: ${recommendations}" th:id="${track.getId()}" class="item">
                    <div style="border-radius: 12pt" th:id="${track.getId()}" class="embed-iframe"></div>
                </div>
            </div>
        </div>

        <div id="searchResults" class="container">
            <div class="flexAlign" style="justify-content: space-around;filter: invert(0.7);">
                <div class="flexAlign" style="justify-content: center">
                    <div>&nbsp;</div>
                    <div><img title="Previous" class="icon large" id="dislike" th:src="@{/icons/thumb_down.svg}" alt=""></div>
                    <div class="flexAlign">
                        <div><img title="Previous" class="icon large" id="prev" onclick="adjustPlayback('prev')" th:src="@{/icons/skip_prev.svg}" alt=""></div>
                        <div><img title="Next" class="icon large" id="next" onclick="adjustPlayback('next')" th:src="@{/icons/skip_next.svg}" alt=""></div>
                    </div>
                    <div><img title="Like" class="icon large" id="like" th:src="@{/icons/thumb_up.svg}" alt=""></div>
                    <div><img th:src="@{/icons/queue_music.svg}" class="icon large" title="View Queue" onclick="openDialog('queue')" alt=""></div>
                </div>
            </div>
        </div>

            <dialog id="queue" >
                <article>
                    <header>
                        <button aria-label="Close" rel="prev" onclick="closeDialog('queue')"></button>
                        <p style="padding:5pt 15pt">
                            <strong>Current Tracks</strong>
                        </p>
                    </header>

                    <table style="background:none">
                        <thead>
                        <tr>
                            <td>Track</td>
                            <td>Album</td>
                            <td>Artist</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="selectableRow" th:id="${track.getId()}" th:each="track, iStat: ${recommendations}">
                            <td style="width: 32%" th:text="${track.getName()}"/>
                            <td style="width: 32%" th:text="${track.getAlbum().getName()}"/>
                            <td style="width: 32%" th:text="${track.getArtistNames()}"/>
                        </tr>
                        </tbody>

                        <tfoot>
                        <tr class="navRow">
                        </tr>
                        </tfoot>
                    </table>
                </article>
            </dialog>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>