<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>

<nav th:replace="fragments/nav :: nav"></nav>


<form action="/selectSeed" method="POST" name="frmSelectTrack" id="frmSelectTrack">
    <input type="hidden" id="trackid" name="trackid" value="">
</form>

<main class="container">
    <div class="flexCenter column">
        <div class="flexCenter">
            Select a song below to seed your Radio Station
        </div>

        <div style="display: flex;align-items: center;justify-content: center">
            <input  type="search" name="search" onchange="search(this.value)" aria-label="search" placeholder="Search">
        </div>

        <div id="searchResults" class="container">

        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>